body {    width: 990px;
    margin-left: 274px;
}
#Cabecera {
    height:150px;
    background-color:white;
    color:#FF9A40;
    border:0px dashed #A64E06;
    /*box-shadow:0px 0px 10px #000;*/
    position:relative;
    z-index:2;
    top: 0px;
    left: 11px;
    width: 978px;
}
#ContenidoCabecera {
    width:980px;
    margin:auto auto auto 3px;
}
#BarraHorizontal {
    height:45px;
    background-color:white;
    /*border-radius:0px 0px 10px 0px;
    box-shadow:0px 0px 10px #000 inset;*/
    text-align:center;
}

    #BarraHorizontal > ul{
        list-style-type:none;
        padding:0;
        margin:0;
    }

    #BarraHorizontal li{
        display:inline-block;
        padding:11px;
        cursor:pointer;
        background-color:#b6ff00;
        color:#A64E06;
        box-shadow:0px 0px 5px #000 inset;        
    }

    #BarraHorizontal li > a{
        display:block;
        color:#A64E06;
        text-decoration:none;
        font-weight:bold;
    }

#Logotipo {
    width:10%;
    float:left;
    text-align:center;
    margin-top:10px;
}

    #Logotipo > img{
            box-shadow:0px 0px 10px #000;
        }

#titulo {
    width:80%;
    float:left;
    text-shadow:2px 2px 3px #000;
    text-align:center;
}
    #Titulo > h1{
        margin-top:20px;
    }

    #titulo > h2{
        margin-bottom:0px;
    }

#Bajo {
    width:898px;
    margin:auto;
    background-color:#FF9A40;
    border-radius:0px 0px 20px 20px;
    overflow:auto;
    box-shadow:0px 0px 10px #000;
}
#ColumnIzquierda {
    float:left;
    width:20%;
    min-height:500px;
    background-color:white;
}

#MenuContextual {
    list-style-type:none;
    padding:0;
    margin:5px 0;
    /*transition:all 0.10s ease-out;
    /*-webkit-transition:all 0.20s linear;
    -moz-transition:all 0.20s linear;
    position:relative;*/
    /*bottom:0;*/
}

   #MenuContextual > li{
        padding:10px;
        text-align:center;
        background-color:#009e44;
        color:white;
        border:1px outset #A64E06;
        /*box-shadow:0px 0px 10px #000 inset;*/
    }

   #MenuContextual > li > a{
       text-decoration:none;
       color:white;
   }

#ColumnCentro {
    float:left;
    width:80%;
    min-height:500px;
    background-color:white;
    box-shadow:0px 0px 5px #000 inset;
}

#Pie {
    height:105px;
    background-color:#b6ff00;
    border-radius:0px 0px 20px 20px;
    clear:both;
    box-shadow:0px 0px 5px #000 inset;
    color:white;
    text-align:center;
    padding-top:5px;
    margin-top: 137px;
}
    